<section class="statement__container">
    <p class="statement__title">Cards</p>
    <article class="statement__valor">
        <div class="statement__current">
            <span>$</span><P class="value"> 2850.75</P>
            <p class="statement__descricao">Current balance</p>
        </div>
        <div  class="statement__income">
           <span>$</span><p class="value">1500.50</p>
            <p class="statement__descricao">Income</p>
        </div>
        <div class="statement__outcome">
            <span>$</span><p  class="value">350.60</p>
            <p class="statement__descricao">Outcome</p>
        </div>
    </article>
</section>