<div class="header">
    <section class="header__logo">
        <img class="logo" src="../../assets/img/logo.png" alt="logo da marca"> 
        <span class="title">GerFin</span>
    </section>
    <section class="header__title--page">
        <p>
            Weekly sumup
        </p>
        <small>
            Get summary of your weekly online transactions here.
        </small>
    </section>
    <section class="header__user">
        <div class="header__notification">
            <img src="../../assets/img/sino.svg" alt="icone de notificações">
        </div>
        <div class="header__user--image">
            <img src="../../assets/img/user.jpg" alt="">
        </div>
        <div class="header__user--name">
            <p>Eduarda Alves</p>
        </div>
    </section>

</div>