<div class="history__container">
    <p>New transaction </p>

    <div class="history__recently">
        
        <div class="history__rencently--users">
            <div class="history__rencently--image">
                <img src="../../assets/img/user.png" alt="">
            </div>
            <div class="history__rencently--name">
                <label>Duda</label>
            </div>
           
        </div>
        <div class="history__rencently--users">
            <div class="history__rencently--image">
                <img src="../../assets/img/user.png" alt="">
            </div>
            <div class="history__rencently--name">
                <label>Duda</label>
            </div>
           
        </div>
        <div class="history__rencently--users">
            <div class="history__rencently--image">
                <img src="../../assets/img/user.png" alt="">
            </div>
            <div class="history__rencently--name">
                <label>Duda</label>
            </div>
           
        </div>
        <div class="history__rencently--users">
            <div class="history__rencently--image">
                <img src="../../assets/img/user.png" alt="">
            </div>
            <div class="history__rencently--name">
                <label>Duda</label>
            </div>
           
        </div>



        <div class="history__rencently--users">
            <div class="history__rencently--image new">
                <img src="../../assets/img/add.svg" alt="">
            </div>
            <div class="history__rencently--name">
                <label>Add New</label>
            </div>
           
        </div>
    </div>
</div>
